@charset 'utf-8';

/* リセットCSS＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

body,
h1,
p,
div,
span {
  margin: 0;
  padding: 0;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
body {
  font-family: "Kiwi Maru", serif;
}

main {
  width: 1100px;
  margin: 16px;
  /* background-color: pink;; */
}
.add {
  display: block;
  margin-bottom: 24px;
}

h1 {
  margin: 30px;
  /* font-size: 22px; */
  margin-left: 100px;
  border-bottom: dashed 4px orange;
  display: inline-block;
  font-weight: normal;
}

textarea {
  width: 90%;
  box-sizing: border-box;
  height: 200px;
  font-size: 16px;
  padding: 8px;
  margin: 0 5%;
  margin-top: 8px;
  border: dotted 1px orange;
}

button {
  cursor: pointer;
  padding: 6px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 8px 0 8px 12px;
}

/* 保存しました */
span {
  font-size: 0.6rem;
  margin-left: 80px;
  opacity: 0;
  transition: opacity 300ms;
  color: brown;
}

.container {
  /* border:2px dashed black; */
  width: 30%;
  height: 290px;
  box-shadow: 1px 1px 10px rgba(120, 75, 30, 0.678);
  display: inline-block;
  /* background-color: pink; */
  margin-right: 16px;
  margin-top: 20px;
}

.appear {
  opacity: 1;
}

.wrapper {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #eee; */
}

/* .new-btn {
  cursor: pointer;
  padding: 4px 16px;
  
  
} */

p {
  color: brown;
  font-size: 0.5rem;
  text-align: right;
  margin-top: 0.3rem;
  margin-right: 1.3rem;
}
